@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Quicksand:wght@300..700&family=Varela&display=swap');
@import "tailwindcss";


:root{
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}